@import './variables';

@mixin triangleLeft() {
  position: absolute;
  right: 0;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 30px solid $primary;
  border-bottom: 15px solid transparent;
  z-index: 5;
}
@mixin triangleTop {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid $primary;
  z-index: 5;
}
@mixin endRuler($opacity: 0.5, $height: 5%) {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  right: 0;
  background: transparent;
  height: $height;
  opacity: $opacity;
}

@mixin rulerY() {
  height: 100%;
  width: 90px;
  position: absolute;
  right: 0;
}
@mixin rulerValue() {
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  font-size: 2.1rem;
  display: flex;
  align-content: center;
  justify-content: center;
}
