//fonts
$font-family-normal: 'SF UI Display Regular';
$font-family-medium: 'SF UI Display Medium';
$font-family-bold: 'SF UI Display Bold';
$font-family-semibold: 'SF UI Display Semibold';

//colors

$primary: #FA5959;


